.param { EEdisplay:inline-block;  }
.rule { white-space: nowrap; margin-top:10px; margin-bottom:10px; border-bottom:1px dotted #ccc; }
.input_warning { border: 3px solid red; margin:1px;}

/* формы */
.input_symb { position: absolute; top: 50%; left: 10px; transform: translateY(-50%); font-size: 23px; }
.input_form { padding: 10px 10px 10px 30px; border: 1px solid #ccc; border-radius: 4px; }
.input_btn { width: 80%; padding: 10px; background-color: #20c997; border: none; border-radius: 4px; color: #fff; font-size: 16px; cursor: pointer; margin-top: 10px; }


.shop_tab_img { width: 120px; }

#shop_place { position: relative; }


.shop_cart_img {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    z-index: 5;
    right: 20px;
    font-size: 20px;
    top: 50px;
    background-color: white;
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
    border-radius: 7px 7px 7px 7px;
    padding: 15px 15px 15px 15px;
}



/********************************************************************/
.shop_orders_tab::before { content: 'Orders ' }
.shop_cards_tab::before { content: 'Cart ' }

.shop_cart_img1::before { content: 'Cart ' }

.shop_orders_img::before { content: 'Orders ' }
.shop_orders_img {
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    z-index: 6;
    left: 20px;
    font-size: 20px;
    top: 50px;
    background-color: white;
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
    border-radius: 7px 7px 7px 7px;
    padding: 15px 15px 15px 15px;
}
/********************************************************************/





.shop_items {
    EEEbackground-color: #ccc;
    font-size:11px;
}

.shop_img {
    border:1px solid #ccc;
    border-radius:5%;
    width:100%;
}

.shop_order_img {
    width: 20px !important;
    height: 20px !important;
    object-fit: cover;
    border-radius: 6px;
}

.shop_order_img, .shop_order_span {
	margin: 1px;
	display: inline-block;
        vertical-align: middle;
}

.shop_item {
    border:1px solid #ccc;
    border-radius:5%;
    padding:10px;
}

.shop_price {
    padding: 5px;
    background-color: #80808036;
    display: inline-block;
    border-radius: 5px;
}




.shop_body {
    margin-bottom: 10px;
    height: 100px;
    overflow: hidden;
}
.shop_body DIV { height: 100px; }
.shop_body DIV:after { height: 30px; }



.shop_add {
    float: inline-end;
}

.shop_name {
    font-weight: bold;
    font-size: 13px;
}

.items-row {
    max-width: 200px;
    font-size: 12px;
    vertical-align: top;
}
.items-row DIV { height: 62px; }
.items-row DIV:after { height: 30px; }



.items-row DIV, .shop_body DIV  {
    overflow: hidden;
    position: relative;
}

.items-row DIV:after, .shop_body DIV:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
    pointer-events: none;
}

.shop_tab {
    cursor: auto;
    border: none;
    border-spacing: 10px;
}

.shop_order_table {
    border-collapse: collapse;
    cursor: auto;
    border: none;
    border-spacing: 10px;
}

    .shop_tab TD,
    .shop_order_table TD {
	border-bottom: 1px solid black; /* ������� ����� ��� ����� */
	padding: 8px; /* ���������� ������ ��� ����� */
	text-align: left; /* ������������ ������ �� ������ ���� */
    }



.shop_tab_tr {
    max-height: 50px;
}

.shop_tab_tr IMG {
  height: 95px !important;
  object-fit: cover;
  border-radius: 5px;
}

.shop_imgs IMG {
  height: 150px !important;
  EEEwidth: 150px !important;
  object-fit: cover;
  border-radius: 6px;
}

.shop_tab_total {
    cursor: pointer;
    float: inline-end;
    background: #7fb1c5b2;
    padding: 10px;
    border-radius: 25px;
}

.td_addr { width: 100% }

.kn {
  font-size: 9px;
  padding: 3px;
  background-color: #b9d2de;
  border-radius: 12px;
}

.shop_address {
    font-size: 10px;
    position:relative;
    padding:5px;
}

.shop_input_error {
    border: 2px solid red;
}

.shop_delivery_address {
    padding:10px;
}

.shop_delivery_address::before { content: 'Delivery address:' }




/* === Горизонтальное выпадающее меню (усложненное) === */


.menub ul { z-index:9999; }
.menub li { background: #AFAFAF; border-radius: 4px; }

/* Предотвращаем схлопывание */
.menub:after { content: ''; display: table; clear: both; }
.menub { border-radius: 4px; margin-bottom: 20px; padding: 2px 0; }


/* === Разметка меню === */
.menub ul { list-style: none; margin:0; padding:0; }
.menub > ul > li { float: left; margin:0; padding:0; position:relative; }
.menub > ul li a { display:block; margin:0; padding:6px 20px; text-decoration: none; }

/*
.menub > ul > li { transition: transform 0.2s ease-in-out; }
.menub > ul > li:hover { transition-property: transform; transition-duration: 0.2s; animation: none; transform: scale(1.1); cursor:pointer;}
*/

/* === Оформление меню === */
.menub > ul > li > a:hover { color: white; background: #000000E0; }
.menub > ul a{ box-shadow: inset 0 15px 15px rgba(0, 0, 0, 0.3); color: black; cursor: default; border-radius: 4px; }

/* === Оформление выпадающего подменю === */
.menub > ul > li > ul > li > a:hover { background: #000000E0; color: #fff; }

/* === Разметка выпадающего подменю === */

.menub > ul > li > ul { display: block; position: absolute; left: -3000px; top: 100%; padding-top: 10px; min-width: 140px; opacity: 0; transition: opacity .5s; }
.menub > ul > li > ul li a { white-space: nowrap; /* если не длинные заголовки*/ z-index: 9999; padding: 10px 20px;}

.menub .menup:hover ul { left: 0px; opacity: 0.9; }

/* Дополнительно. Разделители пунктов + маркер */
.menub > ul > li + li > a { border-left: 1px solid rgba(255, 255, 255, 0.1); }
.menub .menup > a:after { display: inline-block; padding: 4px 0 0 4px; content: "\25BC "; font-size: 10px; vertical-align: top; }

